* {
    box-sizing: border-box;
}

hr {
  height: 2px;
  background-color: #333;
}

.container{
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

img {
  height: 300px;
  width: 300px;
  margin-left: 8%;
  border: 2px solid black;
  border-radius: 25px;
}

.row {
  margin-bottom: 20%;

}
